
.loader{
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50px)

}

.loader span{
  position: absolute;
  width: 40px;
  height: 40px;
  border: 5px solid;
  border-radius: 100%;
  border-color: transparent transparent transparent green;
  animation: spin 1s ease-in-out infinite;
}

.loader span:nth-child(1){
  animation-delay: .00s;
}
.loader span:nth-child(2){
  animation-delay: .050s;
}
.loader span:nth-child(3){
  animation-delay: .10s;
}
.loader span:nth-child(4){
  animation-delay: .15s;
}

@keyframes spin{
  0%{ transform: rotate(0deg) }
  100%{ transform: rotate(360deg) }
}